h1{
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
}

button{
    padding: 10px 15px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #009900;
    border: none;
    border-radius: 15px;
}

button:hover{
    background-color:darkgreen;
}

footer{
    font-family: sans-serif;
    text-align: center;
    height: 20px;
    background:mistyrose;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}