p{
    font-family: sans-serif;
    text-align: center;
}

h1{
    font-family: sans-serif;
    text-align: center;
    color:#009900;
}
footer {
    background-color: #555;
    color: white;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}