p{
    font-family: sans-serif;
    text-align: center;
}

h1{
    font-family: sans-serif;
    text-align: center;
}
h3{
    font-family: sans-serif;
    color: red;
    text-align: center;
}

form{
    text-align: center;
}

footer {
    background-color:#bcd9ea;
    color: white;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}