.container{
    width: 50%;
    height: 50%;
}

#myInput {
    width: 30%;
    font-size: 16px;
    background-color: activecaption;
    padding: 12px 20px 12px 40px;
    border: 1px solid white;
    border-radius:20px ;
}

form{
    text-align: center;
}
.search:hover{
    background-color: pink;
}
footer {
    background-color:#bcd9ea;
    color: white;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

