h1{
    font-family: sans-serif;
    text-align: center;
    color: red;
}

footer{
    font-family: sans-serif;
    text-align: center;
    height: 20px;
    background:lightblue;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}