body {
    background-image: url("../images/calendar.jpg");
    background-color: #ff6666;
    font-family: sans-serif;
}

form {
    text-align: center;
    border: none;
    background: #66ccff; 
    margin: auto;
    width: 40%;
    border-radius: 6px;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 40% 12px 35%;
    width: 30%; height: 30%;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

input[type=text], input[type=password], input[type=name] {
    width: 80%;
    padding: 10px;
    border: 1px solid white ;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
    background-color: white;
}

::-ms-input-placeholder{
    color: darkslategray;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 20px;
    border-radius: 6px;
    width: 20%;
}

.container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;

}

.icono-input{
    display: flex;
    width: 100%;
}
.icon {
    padding: 10px;
    color: darkslategray;
    min-width: 50px;
    text-align: center;
    margin-top: 20px;
}
